.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.manuItem {
  display: inline-block;
}

.menuLink {
  text-decoration: none;
}

.menuContainer {
  border: 1px solid #cdcdcd;
  margin: 10px 0;
}
